
<p-table [value]="products">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr (click)=onSelect(product)>
      <td> {{product.name}} </td>
      <td> {{product.description}} </td>
      <td> {{product.quantity}} </td>
      <td> {{product.regularPrice}} </td>
      <td><button pButton type="button" label="Add to Cart" styleClass="p-button-sm"></button></td>
    </tr>
  </ng-template>
</p-table>

<div class="p-grid  p-ai-center vertical-container">
  <div class="p-col-2">
    <span class="p-input-icon-left p-col-1">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" [(ngModel)]="searchString" />
    </span>

  </div>
  <div class="p-col-1">
    <button pButton type="button" (click)="search()" label="Search" styleClass="p-button-sm"></button>

  </div>
  <div class="p-col-1">
    <button pButton type="button" (click)="getItemsFromOrder(3)" label="Hämta Order Test" styleClass="p-button-sm"></button>
  </div>
</div>